# dependencies
node_modules/
npm-debug.log

# env files
.env
.env.prod
.env.dev

# keys
*-key
*.pub
*.pem

# build output
/dist
/out-tsc
/tmp

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
